body { 
    background-image: url("images/background.jpg"); 
}

.p-image { 
    float: left;
    border: 2px solid black;
    width: 300px;
    padding: 5px;
    background-color: white;
    margin: 10px;
}

tr {
    float: left;
    border: 2px solid black;
    width: max-content;
    padding: 5px;
    background-color: white;
    margin: 10px; 
}